.detail__container {
    display: block;
    padding: 0.5rem 0.5rem 0 0.5rem;
    width: auto;
    height: 100%;
}
.detail__info{
    background-color: whitesmoke;
    padding-bottom: 2rem;
    font-size: 1rem;
}

.detail__info__image{
    height: 100%;
    width: 100%;
}

.detail__info__text {
    display: block;
    padding: 0.5rem 0.5rem 0 0.5rem;
    margin-right: 0;
    width: auto;
    height: 33.3%;
}
.detail__info__text Link {
color: black;
}

