.map {
    left: 0;
    top: 0;
    background-image: url("http://localhost:3000/image/MAPA.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 75%;
    height: auto;
    overflow: auto;
    border: 1px solid red;
   /* position: relative;*/
    z-index: -1;
}

.icons {
    left: 0;
    top: 0;
    z-index: -1;
    position: relative;
}

/*
.icon {
    z-index: -1;
    position: absolute;
    border: 1px solid green;
}
*/



