.container__gallery {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow-y: scroll;
}
.container__gallery::-webkit-scrollbar {
    display: none;
}

.container__gallery {
    -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
}

.gallery__box {
    display: block;
    padding: 0.5rem 0.5rem 0 0.5rem;
    margin-right: 0;
    width: auto;
    height: 33.3%;
    font-family: Oxygen;
}

.gallery__box__image{
    height: 100%;
    width: 100%;
   }

.gallery__box__text .MuiImageListItemBar-title {
    font-family: Oxygen;
    font-size: 1rem;
    font-weight: bold;
}
.gallery__box__text .MuiImageListItemBar-subtitle {
    font-family: Oxygen;
    font-size: 0.73rem;
}
