/*
$transparent: rgba(0, 0, 0, 0) !default;
$shadow: 0 2px 2px lighten($black, 10%);
*/

body
{  margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Oxygen, sans-serif;
}

.mainContainer {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    min-width: 100vh;
    width: 100%;
    height: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}
.headerWrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 42;
    display: flex;
    justify-content: space-between;
}

.mainHeader {
    font-family: Amatic SC;
    font-weight: bold;
    font-size: 3.5rem;
    padding-left: 2rem;
}

.headerMenu {
    padding-right: 3rem;
    padding-top: 0.5rem;
    font-size: 2rem;
    color: #000;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding-left: 5rem;
    z-index: 42;
}

.headerMenu__home {
    font-family: Amatic SC;
    text-decoration: none;
    font-weight: bolder;
    font-size: 2rem;
    color: black;
}

.mapWrapper {
    width: 75%;
    min-height: 100vh;
    overflow: scroll;
}
.mapContainer {
    border: 1px solid red;
    background-image: url("http://localhost:3000/image/MAPA.jpg");
    background-repeat: no-repeat;
    font-size: 3rem;
    position: relative;
    background-size: 100%;
    width: 2000px;
    height: 1600px;
}


.placesContainer {
    border: 1px solid blue;
    background-color: #1a1a1a;
    min-width: 256px;
    width: 25%;
    vertical-align: top;
}
