/*
$transparent: rgba(0, 0, 0, 0) !default;
$shadow: 0 2px 2px lighten($black, 10%);
*/

body
{  margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Oxygen, sans-serif;
}

.mainContainer {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    width: 100%;
    max-height: 100vh ;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
}

/*.mapContainer {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 75%;
    border: 1px solid red;
}*/

.menuContainer {
    display: flex;
    justify-content: space-between;
}

.mainHeader {
    font-family: Amatic SC;
    font-weight: bold;
    font-size: 3.5rem;
    padding-left: 3rem;
}

.mainMenu {
    padding-right: 3rem;
    padding-top: 0.5rem;
    font-size: 1.5rem;
    color: #000;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.mainMenu__home {
    text-decoration: none;
    font-weight: bolder;
}

.places__container {
    border: 1px solid blue;
    background-color: #1a1a1a;
    min-width: 256px;
    width: 25%;
    vertical-align: top;
}

.container__gallery__text{
    margin: 0;
    padding-left: 0.5rem;
    font-size: 2rem;
    font-family: Amatic SC;
    font-weight: bold;
    color: white;
}



